.navbar {
    display: flex;
    padding: 1em 0;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    a {
        border: none;
    }

    .title {
        flex-grow: 1;
        font-size: 2em;
        font-weight: 700;

        display: flex;
        flex-direction: row;

        > * {
            flex-grow: 1;
        }

        .blink {
            animation: blink 1.3s cubic-bezier(.65,.16,.92,-0.35) infinite;
        }
    }

    .actions {
        display: flex;
        font-weight: 600;
        flex-direction: row;

        :not(:last-child) {
            margin-right: 0.8em;
        }
    }
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}

@media only screen and (max-width: 640px) {
    .navbar {
        flex-direction: column;
    }

    .actions {
        margin-top: 0.4em;
    }
}
