.wrapper {
    border-radius: 4px;
    pointer-events: all;
    transition: .2s ease all;

    &[data-card="true"] {
        border-radius: 4px 4px 0px 0px;
    }

    &:hover {
        background-color: #1112;
        filter: brightness(85%);
    }
}

.project {
    width: 100%;
    padding-top: 50%;
    border-radius: 4px;
    background-size: contain !important;
    display: flex;

    > div {
        width: 100%;
        margin-top: -50%;
        position: relative;

        display: flex;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
        border: 1px solid gray;

        > div {
            color: #222;
            margin-top: 0;
            font-size: 1.4em;
        }
    }

    &[data-project="true"] {
        > div {
            border: none;
	        font-family: 'Fira Code', monospace;
        }
    }
}
