/** Images */
img {
    max-width: 100%;
}

figcaption {
    padding: 4px 0;
}

figure {
    > figcaption {
        text-align: center;
    }
}

/** Headings */
h1 {
    font-weight: 700;
    font-size: 4em;
}

h2 {
    font-weight: 700;
    font-size: 2em;
    margin-bottom: 0.5em;
}

h3 {
    font-weight: 700;
    font-size: 1.6em;
    margin-bottom: 0.5em;
}

h4 {
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 0.5em;
}

h5 {
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

h6 {
    font-size: 1em;
    font-weight: 500;
}

/** Links */
a {
    color: inherit;
    text-decoration: none;
}

main a {
    border-bottom: 1px solid black;

    $hover: rgb(120, 120, 120);
    $active: rgb(97, 97, 97);

    &:hover {
        color: $hover;
        border-bottom-color: $hover;
    }

    &:active {
        color: $active;
        border-bottom-color: $active;
    }
}

/** Tables */
table {
    border-collapse: collapse;

    td,
    th {
        padding: 8px;
        border: 1px solid gray;
    }

    th {
        background: #ccc;
    }

    tr:nth-child(odd) {
        background: #f0f0f0;
    }

    tr:nth-child(even) {
        background: #fcfcfc;
    }
}

/** Emphasis */
em {
    margin: 0.1em;
    color: white;
    padding: 0.3em 0.4em;
    font-style: normal;
    border-radius: 0.3em;
    background: black;
    flex-direction: row;
    align-items: center;
    display: inline-flex;

    svg {
        margin-right: 0.4em;
    }

    &[data-mini="true"] {
        padding: 0.4em;

        span {
            display: none;
        }

        svg {
            margin: 0;
        }
    }
}

/** Footer */
footer {
    margin: 4em 0;
    color: black;
    text-align: center;
    filter: opacity(0.7);
}
