pre code, :global(.hljs) {
	display: block;
	overflow-x: auto;
	font-size: 0.8em;
	font-family: 'Fira Code', monospace;
	padding: 1em;
	background: #2d2b57;
	font-weight: normal;
	color: white;
}

:global(.hljs-title) {
	color: #fad000;
	font-weight: normal;
}

:global(.hljs-name) {
	color: #a1feff;
}

:global(.hljs-tag) {
	color: #ffffff;
}

:global(.hljs-attr) {
	color: #f8d000;
	font-style: italic;
}

:global(.hljs-built_in),
:global(.hljs-selector-tag),
:global(.hljs-section) {
	color: #fb9e00;
}

:global(.hljs-keyword) {
	color: #fb9e00;
}

:global(.hljs),
:global(.hljs-subst) {
	color: #e3dfff;
}

:global(.hljs-string),
:global(.hljs-attribute),
:global(.hljs-symbol),
:global(.hljs-bullet),
:global(.hljs-addition),
:global(.hljs-code),
:global(.hljs-regexp),
:global(.hljs-selector-class),
:global(.hljs-selector-attr),
:global(.hljs-selector-pseudo),
:global(.hljs-template-tag),
:global(.hljs-quote),
:global(.hljs-deletion) {
	color: #4cd213;
}

:global(.hljs-meta),
:global(.hljs-meta-string) {
	color: #fb9e00;
}

:global(.hljs-comment) {
	color: #ac65ff;
}

:global(.hljs-keyword),
:global(.hljs-selector-tag),
:global(.hljs-literal),
:global(.hljs-name),
:global(.hljs-strong) {
	font-weight: normal;
}

:global(.hljs-literal),
:global(.hljs-number) {
	color: #fa658d;
}

:global(.hljs-emphasis) {
	font-style: italic;
}

:global(.hljs-strong) {
	font-weight: bold;
}
